#search {
    background-image: url('/static/css/loupe.png');
    background-size: 25px;
    background-position: 10px 8px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#outerdiv {
    width: 90%;
    height: 90%;
    position: fixed;
    text-align: center
}

#mapa {
    width: 80%;
    height: 80%;
    margin: 0px auto;
    display: inline-block
}