{% extends 'base.html' %}
{% block head %}
    <title>Detalhes</title>
{% endblock %}

{% block body %}
    <table class="table">

        <caption style="caption-side: top;text-align: center;color: black;font-size: large">{{ tasca.name }}</caption>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" id="{{ tasca.name }}">{{ tasca.name }}</th>
            <td>{{ tasca.address }}</td>
            <td>{{ tasca.rating }}</td>
        </tr>
        </tbody>
    </table>
    <br>

    <div id="outerdiv">
        <div id="mapa"></div>
    </div>

    <script>

        function inicializar() {
            var coordenadas = {lat: {{ lat }}, lng: {{ lon }}};

            var mapa = new google.maps.Map(document.getElementById('mapa'), {
                zoom: 15,
                center: coordenadas
            });

            var marker = new google.maps.Marker({
                position: coordenadas,
                map: mapa,
                title: 'Meu marcador'
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACz7KnJ_Q6-usIIsJjWO6CkjA2--qdrQE&callback=inicializar"></script>

{% endblock %}