{% extends 'base.html' %}
{% block head %}
    <title>Editar</title>
{% endblock %}
{% block body %}
    <form action="/edit/{{ tascas.name }}" method="POST" onsubmit="return validateForm();">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" name="Name" value="{{ tascas.name }}" class="form-control" id="Name" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            <input type="text" name="Address" value="{{ tascas.address }}"  class="form-control" id="Address" placeholder="Address">
        </div>
        <div class="form-group">
            <label for="Rating">Rating</label>
            <input type="number" name="Rating" value="{{ tascas.rating }}"  class="form-control" id="Rating" placeholder="Rating">
        </div>
        <button type="submit" class="btn btn-primary">Add Tasca</button>
        <a href="/" class="btn btn-danger" >Cancel</a>
    </form>
    <script>
    function validateForm() {
        var name = document.getElementById("Name").value;
        var adrress = document.getElementById("Address").value;
        var rating = document.getElementById("Rating").value;
        var flag = true;
        if (name == "" ) {
            alert("Name must be filled out");
            flag = false;
        }
        if(adrress==""){
            alert("Address must be filled out");
            flag = false;
        }
        if(rating==""){
            alert("Rating must be filled out");
            flag = false;
        }
        return flag;
    }
    </script>

{% endblock %}