{% extends 'base.html' %}
{% block head %}
    <title>Tascas</title>
{% endblock %}

{% block body %}
    <label for="search">Search</label>
    <input type="text" name="search" id="search" class="form-control" onkeyup="filter()"
           placeholder="Search for tascas">
    <table class="table">

        <caption style="caption-side: top;text-align: center;color: black;font-size: large">Tascas!</caption>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Rating</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody id="tascas">
        {% for tasca in tascas %}

            <tr>
                <th scope="row" id="{{ tasca.name }}">{{ tasca.name }}</th>
                <td>{{ tasca.address }}</td>
                <td>{{ tasca.rating }}</td>
                <td><a href="/edit/{{ tasca.name }}" class="btn btn-primary">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                        href="/delete/{{ tasca.name }}" class="btn btn-danger">Delete</a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                        href="/{{ tasca.name }}" class="btn btn-warning">Information</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <a href="/" class="btn btn-primary">Refresh</a>
    <button type="button" class="btn btn-primary" onclick="Openform();">Create</button>
    <br>

    <div id="create" style="visibility:hidden">
        <br>
        <form action="/" method="POST" onsubmit="return validateForm();">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" class="form-control" id="Name" aria-describedby="emailHelp"
                       placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="Address">Address</label>
                <input type="text" name="Address" class="form-control" id="Address" placeholder="Address">
            </div>
            <div class="form-group">
                <label for="Rating">Rating</label>
                <input type="number" name="Rating" max="10" min="0" class="form-control" id="Rating"
                       placeholder="Rating">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add Tasca</button>
            <button type="button" class="btn btn-danger" onclick="Closeform();">Cancel</button>
        </form>
    </div>
{% endblock %}